<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="main-bg">
      <ion-title text-center>
        <img style="margin:10px 0px;" src="assets/image/logo.png" height="35">
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <div *ngFor="let p of pages">
        <button ion-item menuClose *ngIf="!p.admin || loginService.isLogin" (click)="openPage(p.page)">
          <ion-icon item-left name="{{ p.icon }}"></ion-icon>
          {{p.title}}
        </button>
      </div>
    </ion-list>
  </ion-content>

  <ion-footer>
    <button *ngIf="!loginService.isLogin" ion-item no-lines menuClose (click)="openPage(loginPage)">
      <ion-icon item-left name="contacts"></ion-icon>
      เข้าใช้ระบบ
    </button>
    <button *ngIf="loginService.isLogin" ion-item no-lines menuClose (click)="logout()">
      <ion-icon item-left name="contacts"></ion-icon>
      ออกจากระบบ
    </button>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
