<ion-header>
  <ion-navbar color="main-bg">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ระบบคิว</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content" padding>
  <div *ngFor="let item of dataService.department">
    <ion-card mode="ios" *ngIf="item.selected">
      <ion-card-header class="item-header">
        <div class="item-id">{{ item.id }}</div>
        <div class="item-name">{{ item.name }}</div>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row *ngIf="item.yourQueue < 0">
            <ion-col width-100 text-center>
              <div>คิวปัจจุบัน</div>
              <h1>{{ item.currentQueue }}</h1>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="item.yourQueue >= 0">
            <ion-col width-50 text-center>
              <div>คิวปัจจุบัน</div>
              <h1>{{ item.currentQueue }}</h1>
            </ion-col>
            <ion-col width-50 text-center>
              <div>คิวของคุณ</div>
              <h1>{{ item.yourQueue }}</h1>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="item.yourQueue >= 0">
            <ion-col width-100 text-center>
              <div [ngSwitch]="queueLevel(item.yourQueue - item.currentQueue)">
                <div *ngSwitchCase="'safe'" class="queue-alert queue-alert-green">
                  เหลือคิวทั้งหมด {{ item.yourQueue - item.currentQueue }} คิว
                </div>
                <div *ngSwitchCase="'warn'" class="queue-alert queue-alert-yellow">
                  เหลือคิวอีกแค่ {{ item.yourQueue - item.currentQueue }} คิว
                </div>
                <div *ngSwitchCase="'late'" class="queue-alert queue-alert-red">
                  คิวของคุณผ่านไปแล้ว
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <button *ngIf="item.yourQueue < 0" class="reserve-queue-btn" color="queue-btn" ion-button full>
        <ion-icon name="logo-buffer"></ion-icon>
        &nbsp;&nbsp;จองคิว
      </button>
    </ion-card>
  </div>
</ion-content>
