<ion-header>
  <ion-navbar color="green">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ระบบคิว</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let item of departmentService.list">
    <ion-card *ngIf="item.selected">
      <ion-card-header>
        {{ item.id }} {{ item.name }}
      </ion-card-header>
      <ion-card-content>
        <h1 text-center>{{ item.queue }}</h1>
      </ion-card-content>
      <button ion-button full>จองคิว</button>
    </ion-card>
  </div>
</ion-content>
